params {
    // replace all these dummy parameters
    segments = [
        [
            'alias': 'SEGMENT_NAME',
            'refs': ['GENBANK_ID'],
            'seqs': [
                'GENBANK_ID.1',
                'ANOTHER_GENBANK_ID.1',
            ]
        ]
    ]
    fasta_refs='path_to_fasta_containing_the_specified_reference_sequences'
    fasta_seqs='path_to_fasta_with_sequences_to_filter'
    out_dir='data'
    minimap {
        kmer_length=11
        window_size=5
        p=0.6
    }
}
