params {
    refseqs = [
        'L': '../data/refseqs/oriented_L.fasta',
        'S': '../data/refseqs/oriented_S.fasta'
    ]
    raw_seqs='/Volumes/DataCurate/CurationDatasets/Lassa/lassa_ncbi_20241024.fasta'
    out_dir='../data/lassa'
}

profiles {
    standard {
        process {
            conda = 'bio'
            // You can also specify other global settings here
            executor = 'local'
            cpus = 2
            memory = '4 GB'
        }
    }
}
