params {
    taxa_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/workflow/testset/test_groups_refs_and_organisms.yaml"
    fasta_sequences = "/data/home/nils.petersen/dev/VirusDatasetCuration/workflow/testset/testset.fasta"
    out_dir='output'
    //conda_env = "${baseDir}/envs/alignorient.yml"

    filter_max_n_share = 0.01
    filter_min_relative_length = 0.8
    cdhit_threshold = 0.98

    minimap {
        kmer_length=11
        window_size=5
        p=0.6
    }
}

process {
    //conda = params.conda_env
    // You can also specify other global settings here
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}

profiles {
    standard {
        // 
    }
}
