params {
    taxa_config = "REPLACE_THIS"
    fasta_sequences = "REPLACE_THIS"
    out_dir = 'REPLACE_THIS'
    output_version = 'REPLACE_THIS'

    filter_max_n_share = 0.01
    filter_min_relative_length = 0.8
    cdhit_threshold = 0.98

    minimap {
        kmer_length=11
        window_size=5
        p=0.6
    }
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    withLabel:general {
        container = "db_general:0.0.1"
    }
}

profiles {
    standard {
        // 
    }
}
