params {
    segments = [
        [
            'alias': 'S',
            'refs': ['NC_004296.1'],
            'seqs': [
                'NC_004296.1',
                'KM822128.1',
                'GU481068.1',
                'OL774861.1',
                'HQ688672.1',
                'FR832711.1',
                'KT992425.1',
                'KU961971.1'
            ]
        ],
        [
            'alias': 'L',
            'refs': ['NC_004297.1'],
            'seqs': [
                'NC_004297.1',
                'KM822127.1',
                'GU481069.1',
                'OL774860.1',
                'HQ688674.1',
                'FR832710.1',
                'KT992435.1',
                'KU961972.2'
            ]
        ]
    ]
    fasta='/Volumes/DataCurate/CurationDatasets/Lassa/lassa_ncbi_20241024.fasta'
    out_dir='../data/refseqs'
    minimap {
        kmer_length=11
        window_size=5
        p=0.6
    }
}

profiles {
    standard {
        process {
            conda = 'bio'
            // You can also specify other global settings here
            executor = 'local'
            cpus = 2
            memory = '4 GB'
        }
    }
}
