params {
    taxa_config = "${baseDir}/testset/test_groups_refs_and_organisms.yaml"
    fasta_sequences = "${baseDir}/testset/testset.fasta"
    remove_set = "${baseDir}/testset/remove.txt"
    out_dir = "data/output_databases/test"
    output_version = 'test_version'
    output_description = "A test for the data selection procedure."
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    withLabel:general {
        container = "db_general:0.0.1"
    }
}
