params {
    taxa_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/workflow/testset/test_groups_refs_and_organisms.yaml"
    fasta_sequences = "/data/home/nils.petersen/dev/VirusDatasetCuration/workflow/testset/testset.fasta"
    out_dir = 'output_test'
    output_version = 'test_version'
}
