params {
    taxa_config = "${baseDir}/configs/db2.2/groups_refs_and_organisms.yaml"
    fasta_sequences = "${baseDir}/data/input_genomes/ncbi_nocovid_20250922_crvdbv30.0_covid.fasta"
    remove_set = "${baseDir}/configs/db2.2/remove.txt"
    out_dir = "data/output_databases/db2.2"
    output_version = "2.2"
    output_description = "NCBI virus genomes from 22.09.2024 with covid sequences from RVDB version 30"
}
