params {
    taxa_config = "/Users/nils.petersen/dev/virus_dataset_curation/workflow/configs/groups_refs_and_organisms.yaml"
    fasta_sequences = "/Users/nils.petersen/dev/virus_dataset_curation/data/ncbi_rvdb/ncbi_all_NoCovid_20241026_rvdb29covid.fasta"
    out_dir = "/Users/nils.petersen/dev/virus_dataset_curation/data/db2.0"
    output_version = "preliminary_db2.0"
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    withLabel:general {
        container = "db_general:0.0.1"
    }
}
