params {
    taxa_config = "${baseDir}/configs/db2.1/groups_refs_and_organisms.yaml"
    fasta_sequences = "${baseDir}/data/ncbi_rvdb/ncbi_all_NoCovid_20250521_rvdb29covid.fasta"
    remove_set = "${baseDir}/configs/db2.1/remove.txt"
    out_dir = "data/output_databases/db2.1"
    output_version = "preliminary_2.1"
    output_description = "NCBI virus genomes from 21.05.2024 with covid sequences from RVDB version 29"
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    withLabel:general {
        container = "db_general:0.0.1"
    }
}
