params {
    segments = []
    fasta_refs=''
    fasta_seqs=''
    out_dir='output'
    minimap {
        kmer_length=11
        window_size=5
        p=0.6
    }
    //conda_env = "${baseDir}/envs/alignorient.yml"
}

process {
    //conda = params.conda_env
    // You can also specify other global settings here
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}

profiles {
    standard {
        // 
    }
}
