params {
    // taxa_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/configs/organisms.yaml"
    // reference_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/configs/references.yaml"
    // fasta_sequences = "/data2/le-petersen/nils/base_datasets/merged_datasets/ncbi_all_NoCovid_20241026_rvdb29covid.fasta"

    taxa_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/configs/test_organisms.yaml"
    reference_config = "/data/home/nils.petersen/dev/VirusDatasetCuration/configs/test_references.yaml"
    fasta_sequences = "/data2/le-petersen/nils/base_datasets/testset/testset.fasta"
    out_dir='output'
    //conda_env = "${baseDir}/envs/alignorient.yml"
}

process {
    //conda = params.conda_env
    // You can also specify other global settings here
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}

profiles {
    standard {
        // 
    }
}
