params {
    taxa_config = "${baseDir}/configs/db2.3/groups_refs_and_organisms.yaml"
    fasta_sequences = "${baseDir}/data/input_genomes/ncbi_nocovid_20251014_crvdbv30.0_covid.fasta"
    remove_set = "${baseDir}/configs/db2.3/remove.txt"
    out_dir = "data/output_databases/db2.3"
    output_version = "2.3"
    output_description = "NCBI virus genomes from 14.10.2024 with covid sequences from RVDB version 30"
}
