params {
    datasets = [
        // Cases extracted from large list of runs. Always most non-N characters for lassa target chosen.
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode07/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode07/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode08/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode08/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode10/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode10/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode11/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode11/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode12/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode12/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode13/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode13/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode14/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode14/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode19/consensus/mapping/KM821779.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode19/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode20/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode20/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode40/consensus/mapping/KU978807.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode40/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode41/consensus/mapping/MG812631.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode41/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode08/consensus/mapping/MG812658.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode08/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode13/consensus/mapping/KM821910.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode13/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode14/consensus/mapping/MH215283.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode14/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode15/consensus/mapping/MH215289.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode15/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode03/consensus/mapping/KU978807.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode03/clean/filtered.fastq',
         segment: 'S'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode07/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode07/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode08/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode08/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode09/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN087/barcode09/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode10/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode10/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode11/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode11/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode12/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN088/barcode12/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode13/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode13/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode14/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN089/barcode14/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN090/barcode18/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN090/barcode18/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode19/consensus/mapping/KM821778.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode19/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode20/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN091/barcode20/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode40/consensus/mapping/KU978808.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode40/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode41/consensus/mapping/MG812630.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/CKY-2023-RUN098/barcode41/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode08/consensus/mapping/MG812659.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode08/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode13/consensus/mapping/MG812649.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode13/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode14/consensus/mapping/MH215282.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode14/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode15/consensus/mapping/MG812659.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2023-RUN011/barcode15/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode03/consensus/mapping/KU978808.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode03/clean/filtered.fastq',
         segment: 'L'],
        [reference: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode04/consensus/mapping/KU978808.fasta',
         reads: '/Volumes/Samsung_T5/nanoflow_testsets/analysis_results/nextflow_pipeline/HAM-2024-RUN001/barcode04/clean/filtered.fastq',
         segment: 'L']
    ]
    msa_remapping_params = [
        [
            remap_label: 'most_similar_to_consensus',
            blockwidth: 10,
            mode: 'most_similar_to_consensus',
            minimap2_index: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_SL.mmi',
            lassa_s_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_S.fasta.msa.fasta',
            lassa_l_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_L.fasta.msa.fasta',
            outname_s: 'draft_001.fasta',
            outname_l: 'draft_002.fasta'
        ],
        [
            remap_label: 'projected_consensus',
            blockwidth: 10,
            mode: 'projected_consensus',
            minimap2_index: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_SL.mmi',
            lassa_s_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_S.fasta.msa.fasta',
            lassa_l_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_L.fasta.msa.fasta',
            outname_s: 'draft_001.fasta',
            outname_l: 'draft_002.fasta'
        ],
        [
            remap_label: 'blocks',
            blockwidth: 10,
            mode: 'blocks',
            minimap2_index: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_SL.mmi',
            lassa_s_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_S.fasta.msa.fasta',
            lassa_l_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_L.fasta.msa.fasta',
            outname_s: 'draft_001.fasta',
            outname_l: 'draft_002.fasta'
        ],
        [
            remap_label: 'blocks_one_ref',
            blockwidth: 10,
            mode: 'blocks_one_ref',
            minimap2_index: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_SL.mmi',
            lassa_s_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_S.fasta.msa.fasta',
            lassa_l_msa: '/Users/nils.petersen/dev/msa_mapper/data/lassa_oriented_many_targets_2/filtered_fasta/filtered_lassa_L.fasta.msa.fasta',
            outname_s: 'draft_001.fasta',
            outname_l: 'draft_002.fasta'
        ]
    ]
    minimap2_params = [
        [window_size: 10, kmer_size: 15]  //,
        //[window_size: 6, kmer_size: 12]
    ]
    consensus_params = [
        [min_depth: 20, call_fraction: 0.6]
    ]
    out_dir="output"
}

profiles {
    standard {
        process {
            conda = 'bio'
            // You can also specify other global settings here
            executor = 'local'
            cpus = 2
            memory = '4 GB'
        }
    }
}
